{{#with movie}}
  <h2>{{title}}</h2>
  <p>{{genre}}</p>
  <p>{{plot}}</p>
  <p>Cast</p>
  <ul>
    {{#each cast}}
      <li>{{name}}, {{occupation}} - <em>{{catchPhrase}}</em></li>
    {{/each}}
  </ul>
  <form action='/movies/{{id}}/delete' method='post'>
    <input type='submit' value='Delete' />
  </form>
{{/with}}